<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POLCustomCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>193759101BC06B9E0084359C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>193759241BC06B9E0084359C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1937592F1BC06B9E0084359C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
